In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
num = pd.Series([4,5,6])
num

0    4
1    5
2    6
dtype: int64

In [3]:
type(num)

pandas.core.series.Series

In [7]:
notas = {"peru":1, "chile":1, "colombia":2}
prom = pd.Series(notas)
prom

peru        1
chile       1
colombia    2
dtype: int64

In [8]:
lista = pd.Series([34,23,3,4], index = ["uno", "dos", "tres", "cuatro"])
lista

uno       34
dos       23
tres       3
cuatro     4
dtype: int64

In [10]:
nombres = ["uno", "once", "tres", "cuatro"]

listas = pd.Series(lista, index = nombres)

listas

uno       34.0
once       NaN
tres       3.0
cuatro     4.0
dtype: float64

In [14]:
vector = pd.Series(np.full((4),4))
vector

0    4
1    4
2    4
3    4
dtype: int32

In [17]:
aleatorio = pd.Series(np.random.randint(0,100,10))
aleatorio

0    33
1     2
2    25
3    74
4    99
5    64
6    50
7    86
8    94
9    62
dtype: int32